<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <title>Página não encontrada</title>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                    <p><h3>404</h3></p>
                    <p>Página ou recurso não encontrada.</p>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>