 <!--============= Footer Section Starts Here =============-->
 <footer class="bg_img padding-top oh" data-background="./assets/images/footer/footer-bg.jpg">
    <div class="footer-top-shape">
        <img src="./assets/css/img/footer-top-shape.png" alt="css">
    </div>
    
    <div class="newslater-wrapper">
        <div class="container">
            <div class="newslater-area">
                <div class="newslater-thumb">
                    <img src="./assets/images/footer/newslater.png" alt="footer">
                </div>
                <div class="newslater-content">
                    <div class="section-header left-style mb-low">
                        <h5 class="cate">Inscreva-se no LELOU</h5>
                        <h3 class="title">Para Obter Benefícios Exclusivos</h3>
                    </div>
                    <form class="subscribe-form">
                        <input type="text" placeholder="Digite o seu E-mail" name="email">
                        <button type="submit" class="custom-button">INSCREVER-SE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top padding-bottom padding-top">
        <div class="container">
            <div class="row mb--60">
               
                                 
                
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-widget widget-follow">
                        <h5 class="title">Follow Us</h5>
                        <ul class="links-list">
                            <li>
                                <a href="#0"><i class="fas fa-phone-alt"></i>(646) 663-4575</a>
                            </li>
                            <li>
                                <a href="#0"><i class="fas fa-blender-phone"></i>(646) 968-0608</a>
                            </li>
                            <li>
                                <a href="#0"><i class="fas fa-envelope-open-text"></i><span class="__cf_email__" data-cfemail="244c41485464414a434b504c4149410a474b49">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fas fa-location-arrow"></i>1201 Broadway Suite</a>
                            </li>
                        </ul>
                        <ul class="social-icons">
                            <li>
                                <a href="#0" class="active"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright-area">
                <div class="footer-bottom-wrapper">
                    <div class="logo">
                        <a href="index.php"><img src="./assets/images/logo/footer-logo.png" alt="logo"></a>
                    </div>
                    <ul class="gateway-area">
                        <li>
                            <a href="#0"><img src="./assets/images/footer/paypal.png" alt="footer"></a>
                        </li>
                        <li>
                            <a href="#0"><img src="./assets/images/footer/visa.png" alt="footer"></a>
                        </li>
                        <li>
                            <a href="#0"><img src="./assets/images/footer/discover.png" alt="footer"></a>
                        </li>
                        <li>
                            <a href="#0"><img src="./assets/images/footer/mastercard.png" alt="footer"></a>
                        </li>
                    </ul>
                    <div class="copyright"><p>&copy; Copyright 2023 | <a href="#0">LELOU</a> By <a href="#">Roberto S. Melo</a></p></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--============= Footer Section Ends Here =============-->

<!--
    Theme base em => https://pixner.net/sbidu/main/contact.html
-->

<script src="./assets/js/jquery-3.3.1.min.js"></script>
<script src="./assets/js/modernizr-3.6.0.min.js"></script>
<script src="./assets/js/plugins.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="./assets/js/isotope.pkgd.min.js"></script>
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/waypoints.js"></script>
<script src="./assets/js/nice-select.js"></script>
<script src="./assets/js/counterup.min.js"></script>
<script src="./assets/js/owl.min.js"></script>
<script src="./assets/js/magnific-popup.min.js"></script>
<script src="assets/js/yscountdown.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="./assets/js/main.js"></script>
</body>

</html>