<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Lelou - Leilões Online</title>

    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/js/jquery-ui2.min.js">
    <link rel="stylesheet" href="./assets/css/main.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
</head>

<body>
    <!--============= ScrollToTop Section Starts Here =============-->
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop Section Ends Here =============-->


    <!--============= Header Section Starts Here =============-->
    <div class="overlayer" id="overlayer">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper">
                    <ul class="customer-support">
                        <li>
                            <a href="#0" class="mr-3"><i class="fa fa-phone-alt"></i><span class="ml-2 d-none d-sm-inline-block">Suporte ao Cliente</span></a>
                        </li>
                        <!--
                        <li>
                            <i class="fas fa-globe"></i>
                            <select name="language" class="select-bar">
                                <option value="en">En</option>
                                <option value="Bn">Bn</option>
                                <option value="Rs">Rs</option>
                                <option value="Us">Us</option>
                                <option value="Pk">Pk</option>
                                <option value="Arg">Arg</option>
                            </select>
                        </li>
                        -->
                    </ul>
                    <ul class="cart-button-area">
                                              
                        <li>
                            <a href="entrar.php" class="user-button"><i class="flaticon-user"></i></a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="../index.php">
                            <img src="./assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <ul class="menu ml-auto">
                        <li>
                            <a href="./index.php">Home</a>
                            
                        </li>
                        
                        <li>
                            <a href="#0">Paginas de Exemplo</a>
                            <ul class="submenu">
                                
                                <li>
                                    <a href="#0">Acessos</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="./registrar-se.php">Sign Up</a>
                                        </li>
                                        <li>
                                            <a href="./entrar.php">Sign In</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Dashboard</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="./admin/dashboard.php">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="./admin/profile.php">Perfil</a>
                                        </li>
                                        <li>
                                            <a href="./admin/admin-meus-lances.php">Meus Lances</a>
                                        </li>
                                        <li>
                                            <a href="./admin/admin-lances-vencedores.php">Lances Vencedores</a>
                                        </li>
                                        <li>
                                            <a href="./admin/admin-config-notification.php">Meus Alertas</a>
                                        </li>
                                        <li>
                                            <a href="./admin/admin-favorites.php">Meus Favoritos</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="./sobre.php">About Us</a>
                                </li>
                                <li>
                                    <a href="./faqs.php">Faqs</a>
                                </li>
                                <li>
                                    <a href="./404-error.php">404 Error</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./contato.php">Contato</a>
                        </li>
                    </ul>
                    <form class="search-form">
                        <input type="text" placeholder="Search for brand, model....">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="search-bar d-md-none">
                        <a href="#0"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--============= Header Section Ends Here =============-->